.footer {
  height: 44px;
  background: #2C2F33;
  .footer-content {
    width: 1000px;
    height: 44px;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    color: #fff;
    opacity: 0.4;
    font-size: 12px;
  }
}